.testimonial-container {
  padding: 20px;
  text-align: center;
}

.testimonial-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.testimonial-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: left;
}

.stars {
  color: gold;
  margin-bottom: 10px;
}

.slick-prev, .slick-next {
  color: #000;
}

.slick-dots li button:before {
  color: #000;
}
