.container {
    position: relative;
    text-align: center;
    color: white;
    height: 637px;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 120px;
    text-align: left;
  }
  .gambar-bacground-home{
    width: 100%;
    height: 100%;
  }
  .remove-padding{
    padding: 0;
    
  }

  .p-4 {
    padding: 30px 90px;
  }

  .banner-header {
    width: 550px;
    font-size: 40px;
    color: #FFFFFF;
  }

  .banner-sub-header {
    color: #FFB271;
  }

  .button-header {
    padding-top: 80px;
    padding: 24px 12px 24px 12px;
    width: 257px;
    height: 73px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 80px;
    display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-radius: 12px;
     background: #A86227;
  }
  