.review-form {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  margin-bottom: 0;
  color: #333;
  flex: 1;
}

input[type="text"] {
  flex: 2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px; /* Adjust margin to separate from rating stars */
}

textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  height: 100px;
}

.stars {
  display: flex;
  align-items: center;
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: #ddd;
  transition: color 0.2s;
}

.star.filled {
  color: #ffc107;
}

button {
  background-color: #6d4c41;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end; /* Align button to the right */
}

button:hover {
  background-color: #5d4037;
}